<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

    <!-- Favicon -->
    <link href="iamge/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table {
            text-align: center; /* 테이블 내용 가운데 정렬 */
        }

        .table th,
        .table td {
            text-align: center; /* 테이블 해더와 td 텍스트 가운데 정렬 */
            vertical-align: middle;
        }
    </style>
</head>
<body>
    
    <div class="container-xxl bg-white p-0">
        <div id="header">
            <a href="index"><img src="../img/logo.png" class="logo" alt="" width="100px"></a>
            <nav>
            <ul id ="navbar">
                    <li><a class="nav_link" href="index">Home</a></li>
                    <li><a class="nav_link" href="menu">Menu</a></li>
                    <li><a class="nav_link" href="contact">Contact</a></li>
                    <li><a class="nav_link" href="book">Book</a></li>
                    <li><a class="nav_link" href="cart"><i class="fas fa-shopping-cart"></i></a></li>
                    <li class="btn-cta"><a href="login"><span>Login</span></a></li>
            </ul>
            </nav>
        </div>
        
        <!-- Cart -->
        <div class="container">
            <!-- As a heading -->
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h2">List of Selected Items</span>
                    <ul th:if="${loginUser != null}" class="col-md-4 navbar-nav d-flex flex-wrap flex-row justify-content-between" style="list-style-type: none;">
                        <li class="nav-item">
                            <p class="nav-link" th:text="'Hello! ' + ${loginUser}"></p>
                        </li>
                        <form method="post" action="/logout">
                            <button type="submit" class="nav-link" aria-current="page" style="border: 0px; background-color: white;">Logout</button>
                        </form>
                    </ul>
                </div>
            </nav>

            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                        <div class="ps-3">
                            <h6 class="mt-n1 mb-0">Cart</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <div class="ps-3">
                            <h6 class="mt-n1 mb-0">Order History</h6>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
            <!-- Cart -->
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <!-- Cart Items -->
                    <table th:if="${items != null}" id="cart-table" class="table table-bordered table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each = "item : ${items}">
                                <td><img th:src="@{${item.imgPath}}" alt="Menu Image" width="70px" height="70px"></td>
                                <td th:text = "${item.name}"></td>
                                <td th:text="${item.formattedPrice}"></td>
                                <td>
                                    <button type="button" class="btn btn-link delete-btn" th:attr="onclick='removeItem(\''+ ${item.id} + '\')'">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot th:if="${#lists.size(items)} > 0">
                            <tr>
                                <td colspan="2" class="text-end">Sub Total:</td>
                                <td class="text-center" th:text="'$'+ ${totalPrice}"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-end">Total number of items:</td>
                                <td class="text-center" th:text="${#lists.size(items)}"></td>
                                <td><a class="btn btn-primary" href="/order">Go to checkout</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                <!-- History Order -->
                <table th:if="${historyOrders != null}" id="order-table" class="table table-bordered table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "order : ${historyOrders}">
                            <td th:text = "${order.id}"></td>
                            <td th:text="${#dates.format(order.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td><img th:src="@{${order.imgPath}}" alt="Menu Image" width="70px" height="70px"></td>
                            <td th:text = "${order.name}"></td>
                            <td th:text="${order.price}"></td>
                        </tr>
                    </tbody>                    
                </table>
            </div>
            </div>
        </div>

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-7">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, Dallas, USA</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 6789</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="#row g-5"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#row g-5"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#row g-5"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#row g-5"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
                        <h5 class="text-light fw-normal">Monday - Saturday</h5>
                        <p>09AM - 08PM</p>
                        <h5 class="text-light fw-normal">Sunday</h5>
                        <p>CLOSED</p>
                    </div>
                    <div class="col-lg-3 col-md-7">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
                        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top" style="display: none;"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/wow/wow.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/counterup/counterup.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="../js/script.js"></script>
    <script>
       function removeItem(itemId) {
            $.ajax({
                url: '/cart/items/' + itemId,
                method: 'DELETE',
                success: function(response) {
                    // success
                    $('#cart-table').load('/cart #cart-table');
                },
                error: function(xhr, status, error) {
                    // error
                }
            });
       }
    </script>
</body>
</html>