<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

    <!-- Favicon -->
    <link href="iamge/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table {
            text-align: center; /* 테이블 내용 가운데 정렬 */
        }

        .table th,
        .table td {
            text-align: center; /* 테이블 해더와 td 텍스트 가운데 정렬 */
            vertical-align: middle;
        }
    </style>
</head>
<body>
    
    <div class="container-xxl bg-white p-0">
        <div id="header">
            <a href="index"><img src="../img/logo.png" class="logo" alt="" width="100px"></a>
            <nav>
                <ul id ="navbar">
                    <li><a class="nav_link" href="index">Home</a></li>
                    <li><a class="nav_link" href="menu">Menu</a></li>
                    <li><a class="nav_link" href="contact">Contact</a></li>
                    <li><a class="nav_link" href="book">Book</a></li>
                    <li><a class="nav_link" href="cart"><i class="fas fa-shopping-cart"></i></a></li>
                    <li class="btn-cta"><a href="login"><span>Login</span></a></li>
                </ul>
            </nav>
        </div>
        
        <!-- Check out -->
        <div class="container">
            <div class="py-5 text-center">
                <h2>Checkout</h2>
                <p class="lead">You can use only credit/dbit card</p>
            </div>
            <div class="row g-5">
                <!-- Right Order list -->
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Your cart</span>
                        <span class="badge bg-primary rounded-pill" th:text="${#lists.size(items)}"></span>
                    </h4>
                    <!-- Order item list -->

                    <ul th:if="${items != null}" class="list-group mb-3">
                        <li th:each="item : ${items}" class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0" th:text="${item.name}"></h6>
                            </div>
                            <span class="text-body-secondary" th:text="${item.price}"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong th:text="${totalPrice}"></strong>
                        </li>
                    </ul>
                </div>

                <!-- Left Checkout Information -->
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Billing address</h4>
                    <form method="post"
                          role="form"
                          action="/order/save">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" >
                                <div class="invalid-feedback">
                                Valid first name is required.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" >
                                <div class="invalid-feedback">
                                Valid last name is required.
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                <div class="invalid-feedback">
                                Please enter a valid email address
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="1234 Main St" >
                                <div class="invalid-feedback">
                                Please enter your shipping address.
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label for="country" class="form-label">Country</label>
                                <select class="form-select" id="country" >
                                <option value="">Choose...</option>
                                <option>United States</option>
                                </select>
                                <div class="invalid-feedback">
                                Please select a valid country.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="state" class="form-label">State</label>
                                <select class="form-select" id="state" >
                                <option value="">Choose...</option>
                                <option>California</option>
                                <option>Dallas</option>
                                <option>Virginia</option>
                                </select>
                                <div class="invalid-feedback">
                                Please provide a valid state.
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="zip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="zip" placeholder="" >
                                <div class="invalid-feedback">
                                Zip code required.
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <h4 class="mb-3">Payment</h4>
                        <div class="my-3">
                            <div class="form-check">
                                <input id="credit" name="payment" type="radio" class="form-check-input" checked>
                                <label class="form-check-label" for="credit">Credit card</label>
                            </div>
                            <div class="form-check">
                                <input id="debit" name="payment" type="radio" class="form-check-input">
                                <label class="form-check-label" for="debit">Debit card</label>
                            </div>
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-6">
                                <label for="cc-name" class="form-label">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" >
                                <small class="text-body-secondary">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                Name on card is required
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="cc-number" class="form-label">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="">
                                <div class="invalid-feedback">
                                Credit card number is required
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="cc-expiration" class="form-label">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="">
                                <div class="invalid-feedback">
                                Expiration date required
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="cc-cvv" class="form-label">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="">
                                <div class="invalid-feedback">
                                Security code required
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-5 col-md-7">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, Dallas, USA</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 6789</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="#row g-5"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#row g-5"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#row g-5"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#row g-5"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
                        <h5 class="text-light fw-normal">Monday - Saturday</h5>
                        <p>09AM - 08PM</p>
                        <h5 class="text-light fw-normal">Sunday</h5>
                        <p>CLOSED</p>
                    </div>
                    <div class="col-lg-3 col-md-7">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
                        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top" style="display: none;"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/wow/wow.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/counterup/counterup.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <script src="../js/script.js"></script>
    <script>
       function removeItem(itemId) {
            $.ajax({
                url: '/cart/items/' + itemId,
                method: 'DELETE',
                success: function(response) {
                    // 삭제 요청이 성공한 경우에만 테이블을 업데이트합니다.
                    $('#cart-table').load('/cart #cart-table');
                },
                error: function(xhr, status, error) {
                    // 오류 처리 로직을 작성하세요.
                }
            });
       }

       function orderSave() {
            $.ajax({
                url: '/order/save',
                method: 'POST',
                success: function(response) {
                    //success
                    alert("success");
                },
                error: function(xhr, status, error) {
                    // Fail
                    console.log(error); // error log
                    alert('Failed to checkout. Please try again.'); //fail message
                }
            });
       }
    </script>
</body>
</html>